/* .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
} */
/* main > .container {
  padding: 60px 15px 0;
} */
main > .container {
    padding: 80px 15px 0;
  }
.form-1{
 
    width: 40% !important;

}
.aft-bg-head{
  position: relative;
}
.bg-head{
  /* position:; */
  width: 100%;
  height: 95vh;
  /* position: relative; */
}
/* .bef-bg-head{
  position:absolute;
  top: 5%;
  left: 30%;

  width: 40vw;
  background-image: linear-gradient(#cdd1d659, #dacf92c5);
  height: 50vh;
  margin: 60px auto 0 -43px;
} */
.bef-bg-head{
  
  position:absolute;
  top: 30%;
  left: 25%;

  /* width: 40vw; */
  font-family: "Vibur", cursive;
  
}
.textstyle {
	position: absolute;
  /* color: rgb(253, 189, 110); */
	display: flex;
	align-items: center;
	justify-content: center;
}
.font-textt {
  /* color: rgb(245, 175, 89); */
  /* color: #fdaff7; */
  color: #eff7f6;
  font-size: 270px;
	
	font-weight: 999;
  text-shadow: 50px;
  /* text-shadow: 7px 10px 15px #ffffff; */
  white-space:nowrap;
  -webkit-animation: neon 0.08s ease-in-out infinite alternate;
  animation: neon 0.08s ease-in-out infinite alternate;
}


@media screen and (max-width: 1050px) {
  .font-textt {
    font-size: 160px;
  }
}
@media screen and (max-width: 750px) {
  .font-textt {
    font-size: 100px;
  }
}
@media screen and (max-width: 550px) {
  .font-textt {
    font-size: 80px;
  }
}
@media screen and (max-width: 350px) {
  .font-textt {
    font-size: 60px;
  }
}


@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    
    0 0 6px #b2f7ef,
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
    /* 0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1); */
  }
}




.font-head{
  font-size: 50px !important;
}

.ft-edit{
    background-color: rgba(128, 128, 128, 0.438);
    margin-bottom: 0;
}
.font-edit{
    font-size: 22px !important; 
    font-family: 'Mali', cursive;

}
.font-edit2{
    font-size: 22px !important; 
    font-family: 'Mali', cursive;
    margin-bottom: 0rem;
}
.img-edit{
    padding: 0;
    border-radius: 20px;
    height: 203px;
  
   
    flex: 1;
   
}
.card-edit{
    border-radius: 25px !important;
  

}
a{
  font-family: 'Mali', cursive;
  

}
.a-tagg{
  color: inherit !important; 
  text-decoration: none !important;
}
.aaa{
  font-size: 17px;
  color: inherit !important; 
  text-decoration: none !important;
}
.mt-edit{
  margin-top: 5rem !important;
}
.posit-edit{
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px !important;
  position:absolute;
  z-index: 99;
}
.badge{
 
  font-size: 0.9em !important;
  font-family: 'Mali', cursive !important;
}
.zoom {
  padding: 15px;
  /* background-color: green; */
  transition: transform .5s; /* Animation */
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
  border-radius: 50px;
  z-index: 9999;
}

.zoom:hover {
  transform: scale(1.33); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* h1{ 
  display:inline;
  background-color:rgb(44, 44, 44);
  color:#fff;
} */
.active{
  color:rgb(46, 46, 46) !important;
}
.bg-dark{
  background-color: #5f5f5f !important;
  color: black !important;
}
.nav-link {
  font-size: 20px;
  font-weight: 900;
}
.ss{
  font-family: "Vibur", cursive;
  font-size: 35px;
}
.iconbig{
  position: absolute;
  margin-top: 7px;

  width: 2em;
  height: 1em;
  left: 35.5%;

}
.bi .bi-search{
  width: 10px;

  position: relative;
}
.bg-home{
  background-color: #5f5f5f;
}
.fibt{
    position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
 
    
    }