.breadcrumb {
    /* padding: 10px 55px  !important; */
    /* margin-top: 3px; */
    margin-top: auto;
    margin-bottom: auto;
    text-align:center;
    line-height:50px;
    color: rgb(255, 255, 255);
    border-radius: 0%;
    padding-left: 30px;

    
    
}
.breadcrumb-item{
    color:aliceblue;
}
.bg-c-edit{
    background-color: rgb(112, 138, 207);
    border-radius: 11px;
}
.img-dt-edit{
    height: 400px !important;
    
}
a{
    font-family: 'Mali', cursive;
    
  
  }
  .a-tag{
    color: inherit !important; 
    /* text-decoration: none !important; */
  }
.active{
    color:rgb(46, 46, 46) !important;
}

.bg-dark{
    background-color: #5f5f5f !important;
    color: black !important;
  }
  .nav-link {
    font-size: 20px;
    font-weight: 900;
  }
  .ss{
    font-family: "Vibur", cursive;
    font-size: 35px;
  }

  #showhideForm {
    display: none;
  
    margin-bottom: 10px;
  
   
  }
  .tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
  }
  
  .tag.visible {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  
