{% extends 'layouts/base.html' %}
{% load humanize %}


{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<title>Sign Up</title>

<link rel="stylesheet" type="text/css" href="{% static 'styl4signup.css' %}" />


<div class="container ">
<div class="row">
    <!-- <div class="col-8 offset-2 col-sm-8 offset-sm-2 col-md-5 offset-md-3 col-lg-4 offset-lg-4"> -->
    <div class="col-8 offset-2 col-sm-8 offset-sm-2 col-md-5 offset-md-3 col-lg-4 offset-lg-4" >
        <h1 class="text-center mt-5">Register new user</h1>
        <form method="post" class="" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success col-6 offset-3 col-sm-4 offset-sm-4 col-md-4 offset-md-4 col-lg-4 offset-lg-4">Log in</button>
        </form>
    </div>
    
</div>
</div>
{% endblock %}