{% extends "layouts/base.html" %}

{% load static %}
{% load custom_tags %}


{% block content %}
<title>Category</title>

<link rel="stylesheet" type="text/css" href="{% static 'style4category.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">


<div class="container-fluid mx-0 p-0 " class="aft-bg-head" >       
       
    <!-- <img src="/media/wall-tv-living-room-with-white-walls.jpg" alt="" class="bg-head"> -->
    <img src="/media/tv-wall-mount-cabinet-modern-living-room-concrete-wall-3d-rendering.jpg" alt="" class="bg-head">
    <!-- <img src="/media/123.jpg" alt="" class="bg-head"> -->
        <div class="bef-bg-head teststyle">
           
            <h1 class="font-textt ">My Plant</h1>
    
    </div>
</div>   

<div class="container">


<div class="row">
    <div class="col-12 col-sm-4  col-md-4 col-lg-3 col-xl-2">
        
        <h1  id="opening">Category</h1>

    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-10 bg-c-edit fw-normal">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                <a class="a-tag" href="{% url 'cactusshop:index' %}">
                    <b>
                        Home

                    </b>
                </a>
            </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a class="a-tag" href="{% url 'cactusshop:category' %}">
                        <b>
                            Category
                        </b>
                    </a>
                    </li>
                {% for a in category %}
                {% if categ_id|add:'0' == a.id %}
                
              <li class="breadcrumb-item active " aria-current="page"> {% if not categ_id %}All{% endif %}{{ a.category_name }}</li>
              
              {% endif %}
              {% endfor %}
              {% if not categ_id %}
                
              <li class="breadcrumb-item active" aria-current="page"> All</li>
              
              {% endif %}
              
            </ol>
        </nav>
    </div>
</div>


<div class="row">
    
    <div class="col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2 mt-3 card-edit ">
        <div class="list-group mt-2 ">
            <a href="{% url 'cactusshop:category' %}" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between {% if not categ_id %}active{% endif %}" aria-current="true">All  
            <span class="badge bg-primary rounded-pill">{{products_2.count}}</span>
            </a>
            {% for a in category %}
            <a href="{% url 'cactusshop:category'%}?product_categoryid={{ a.id }}" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between {% if categ_id|add:'0' == a.id %}active{% endif %}" aria-current="true">{{ a.category_name }}
                <span class="badge bg-primary rounded-pill ">{{a.products_count.count}}</span>
            </a>
            {% endfor %}
        </div>
    </div> 
  


    
    <div class="col-12 col-sm-8 col-md-8 col-lg-10 col-xl-10">

        
        <div class="row mt-2 justify-content-between ">
            <div class="col-lg-2 col-xl-2 mt-2">
                
                <a class="a-tag" href="{% url 'cactusshop:category'%}{% if categ_id is not None %}?product_categoryid={{ categ_id }} {% endif %}">ล้างการค้นหา</a>
               
            </div>
            <div class="col-lg-2 col-xl-6 mt-2">
                               
                <h6 class="font-edit" style="white-space: nowrap;"><b>{{search}} </b> &nbsp;&nbsp;&nbsp; <b>{{product_counts}}</b> </h6>
            </div>
            <div class="col-lg-4 col-xl-2 ">        
                <div class="dropdown">
                    
                    <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      เรียงจาก: {{sort_2}}
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                       
                      <li><a class="dropdown-item " href="{% url 'cactusshop:category' %}?product_categoryid={{categ_id}}&search={{search}}&sort=high">ราคามาก>>น้อย</a></li>
                        
                      <li><a class="dropdown-item" href="{% url 'cactusshop:category' %}?product_categoryid={{categ_id}}&search={{search}}&sort=low">ราคาน้อย>>มาก</a></li>
                    </ul>
                  </div>
            </div>
        </div>
        
        <div class="row">

            {% for b in productt %}
            {% for c in image_list_2 %}
        
            {% if b.id == c %}
            {% if b.product_status %}
          

    
            <div class="col-6 col-lg-3 col-lg-4 col-xl-3 mt-2 ">
                <div class="card card-edit shadow bg-body">
                    <a href="{% url 'cactusshop:category' %}">
                    
                        <img src="{{ image_list_2 | get_dict_value:c }}" height="150%" alt="image" class="img-edit w-100 ">
                        
                    </a>
                    <div class="card-body text-center">
                        <h3 class=" font-edit2  mb-2">{{ b.product_name}}</h3>
                        <h3 class=" font-edit2  mb-2">{{ b.product_price}}</h3>
                       
                        <a href="{% url 'cactusshop:detail' pk=b.id %}" class="btn btn-info ">View detail</a>
                        <!-- <a href="#" class="btn btn-info">View detail</a> -->
                        
                    </div>

                </div>
                
                
        
            </div>

  


           
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
         

        </div>
       
     
       
       
    </div>

   
    <ul class="pagination pagin-edit mt-4">
        {% if productt.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{productt.previous_page_number}}#opening">Previous</a></li>
        {% endif %}

        {% for i in productt.paginator.page_range %}
        <li class="page-item {% if productt.number == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}#opening">{{ i }}</a></li>
        {% endfor %}

        {% if productt.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{productt.next_page_number}}#opening">Next</a></li>
        {% endif %}
     </ul>

  
    <!-- </nav> -->
 

    
</div>
</div>


{% endblock %}

