{% extends "layouts/base.html" %}

{% load humanize %}

{% load static %}
{% load custom_tags %}
{% block content %}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<title>Home page</title>

<link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">

<div class="container-fluid mx-0 p-0 " class="aft-bg-head" >    
 

    <img src="/media/cabinets-wall-tv-living-room.jpg" alt="" class="bg-head">
    <div class="bef-bg-head teststyle col-1 col-sm-2">
        <!-- <h1 class="font-head">CactusShop</h1> -->
        <h1 class="font-textt col-1">My Plant</h1>
    
    </div>

    
</div>   



 
<div class="container-fluid">


<div class="container ">




    <h1 class="pt-5 pb-5 mb-0 text-center mt-3"><span>Category All</span></h1>
    <div class="row tag">

    
    {% for a in categories %}
    {% if a.category_status %}
    
    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-6 offset-md-0 col-lg-3 offset-lg-0 card-edit">
       
        <div class="card w-100 mt-4 card-edit shadow bg-body rounded-5  ">
            <a href="{% url 'cactusshop:category'%}?product_categoryid={{ a.id }}">
                
                <img src="{{ a.category_image.url }}" height="150%" alt="image" class="img-edit w-100 ">
                
            </a>
            <div class="card-body text-center">
                <a class="a-tagg" href="{% url 'cactusshop:category'%}?product_categoryid={{ a.id }}">
                <h3 class=" font-edit2  ">{{ a.category_name}}</h3>
                </a>
                <!-- <a href="#" class="btn btn-info">View detail</a> -->
                
            </div>
    
        </div>
       
       
    </div>
 
    {% endif %}
    {% endfor %}

    
</div>


<h1 class="pt-5 pb-5 mb-0 text-center mt-3">Product Recommend </h1>
<!-- <section class="tag" style="margin-bottom: 200px;"> -->
<div class="row mb-5 tag">
    
    {% for b in products %}
    {% for c in image_list %}

    {% if b.id == c %}
    {% if b.product_status %}
    {% if b.product_recommend %}
    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-6 offset-md-0 col-lg-3 offset-lg-0 card-edit">
        
        <div class="card w-100 mt-4 card-edit shadow bg-body rounded-5  ">
            <div >
                <span class="badge bg-primary posit-edit">{{ b.product_category }}</span>
            </div>
            <a href="{% url 'cactusshop:detail' pk=b.id  %}">
                <img src="{{ image_list | get_dict_value:c }}" height="150%" alt="image" class="img-edit w-100">
            </a>
            <div class="card-body text-center">
                <h3 class=" font-edit">{{ b.product_name }}</h3>
                <h3 class=" font-edit">{{ b.product_price|floatformat:2|intcomma }}</h3>
                <a href="{% url 'cactusshop:detail' pk=b.id  %}" class="btn btn-info ">View detail</a>
                
            </div>
    
        </div>
       
    </div>
    
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
 

</div>

</div>
</div>

<script>
$(document).on("scroll", function() {
  var pageTop = $(document).scrollTop();
  var pageBottom = pageTop + $(window).height();
  var tags = $(".tag");

  for (var i = 0; i < tags.length; i++) {
    var tag = tags[i];

    if ($(tag).position().top < pageBottom) {
      $(tag).addClass("visible");
    } else {
      $(tag).removeClass("visible");
    }
  }
});

</script>
{% endblock %}
